@import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");

body {
  margin: 0;
  font-family: 'Kite One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0B0C10;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  min-height: 100%;
}